<div class=" mx-5 pl-8 w-full mt-24 ">
    <h1 class="font-bold text-4xl text-gray-400 underline">Services</h1>
    <div class="  flex justify-center items-center ">
        <div class="justify-between w-full text-center   ">
        <h1 class="font-bold text-blue-400 text-2xl"> Sociéte Abid de Travaux Public </h1>
        <p class="text-sm pr-5 ">est Une société de bâtiment qui offrir une large gamme de services dans 
            <span class="text-blue-400 text-xl">gestion de chantier.</span>  Son rôle principal consiste à réaliser des bâtiments 
            résidentiels ou industriels. Elle intervient également dans la 
            rénovation de bâtiments anciens ou la modernisation de locaux ,
             tout en assurant les travaux de finition à la fin de chaque projet. Ainsi,
              Elle offre une expertise diversifiée qui va bien au-delà de la 
             simple gestion de chantier, en s'adaptant aux besoins variés de ses clients dans 
             la construction, la rénovation, l'entretien et la gestion des infrastructures.</p>
    </div>
    <img class="w-7/12 h-96 " src="img2.jpg" alt="photo de chantier">
</div>
</div>
    
