<div class="relative w-full md:top-16 left-0 right-0">
    <video src="video.mp4" class="w-full md:h-auto h-full" autoplay muted ></video>
    
   
    <div class="absolute inset-0 flex items-center justify-center">
        <img class="w-72 md:h-72 h-52 mt-2 md:mt-0" src="LogoSample.png" alt="Logo">
    </div>
</div>

  <section id="apropos">
    <app-apropos></app-apropos>
  </section>
  
  <section id="service">
    <app-service></app-service>
  </section>
  
  <section id="projet">
    <app-projet></app-projet>
  </section>
  
  <section id="contact">
    <app-contact></app-contact>
  </section>
  
