
<div class=" w-full h-screen py-10 px-10">
  <h1 class="font-bold text-2xl mt-24 text-gray-400 mb-4">Immeuble Amen</h1>
  <div class="flex items-center p-5">
    <img src="/immeubleAmen.jpg" alt="Immeuble Amen" class="w-1/2 h-auto mb-4" />
    <p class="text-center text-lg text-gray-700">
      L'Immeuble Amen est un exemple parfait de construction moderne, alliant esthétisme et fonctionnalité.
      Situé au cœur de la ville, il offre des espaces de vie confortables et des commodités de premier ordre.
    </p>
  </div>

  </div>
  <div class="pt-24 px-7 w-full h-screen">
    <section  id="contact">
      <app-contact></app-contact>
    </section>
  </div>
  